<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ page.base_url }}docs-assets/javascripts/jquery.js"></script>
<script src="{{ page.base_url }}dist/javascripts/activecell-branding.js"></script>

<script src="http://platform.twitter.com/widgets.js"></script>
<script src="{{ page.base_url }}docs-assets/javascripts/holder.js"></script>

<script src="{{ page.base_url }}docs-assets/javascripts/application.js"></script>

<!-- Harvest chosen -->
<script>
  $(function() {
    $('.chosen-select').chosen();
    $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
  });
</script>
